<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="crazyflie">
  <xacro:property name="M_PI" value="3.1415926535897931" /> 
  <link name="base_link">
    <inertial>
       	<mass value="1.477" />
    	<origin xyz="0 0 0" />
        <!-- ToDo: This is not correct! -->	    
        <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 ${M_PI}" />
      <geometry>
        <mesh filename="package://dji_sdk_description/meshes/dji_phantom2.dae"/>
      </geometry>
    </visual>

    <!-- ToDo: insert collision model -->

  </link>

</robot>

