<?xml version="1.0"?>

<launch>
  <arg name="name" default="quadrotor"/>
  <arg name="model" default="$(find hector_quadrotor_description)/urdf/quadrotor.urdf.xacro"/>

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.3"/>

  <!-- Start Gazebo with wg world running in (max) realtime -->
  <param name="tf_prefix" type="string" value="$(optenv ROS_NAMESPACE)" />
  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'" />
<!--   <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
     args="-param robot_description
           -urdf
           -x $(arg x)
           -y $(arg y)
           -z $(arg z)
           -model $(arg name)"
     respawn="false" output="screen"/>
 -->
  <!-- Start rviz visualization with preset config -->
   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hector_quadrotor_demo)/rviz_cfg/outdoor_flight.rviz"/>
    
</launch>
