<?xml version="1.0"?>

<launch>
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>

    <include file="$(find dji_sdk)/launch/dji_sdk_node.launch.xml">
        <arg name="serial_name" value="/dev/cu.usbserial-A603T4HK"/>
        <arg name="drone_name" value="drone1" />
        <arg name="manager" value="/standalone_nodelet" />
    </include>

    <include file="$(find dji_sdk)/launch/dji_sdk_node.launch.xml">
        <arg name="serial_name" value="/dev/cu.usbserial-A603T4HK"/>
        <arg name="drone_name" value="drone2" />
        <arg name="manager" value="/standalone_nodelet" />
    </include>
</launch>
